<% provide(:title,'About Us') %>
<html>
<div class="about">

	<h1>Hamabata Yang Tung</h1>
	
	<div style="float: left;margin: 0 10px 0 0">
	<%= link_to image_tag("corey.jpg", alt: "Corey") %></div>
	<p> <b>Corey Hamabata</b> is a Vice President for Jones Lang and LaSalle and previously for The Harp Group. He holds a BA in Economics from Cornell University where he wrestled for 2 years.  </p>
	
	<br> <br>
	<div style="clear: left; float: left; margin: 10px 10px 0 0">
	<%= link_to image_tag("jason.jpg", alt: "Jason") %> </div>
	<p> <b> <br>Jason Yang </b>has over 8 years of accounting experience at Firms like PWC, Sobul Primes & Schenkel and American Apparel.  Jason is a CPA and holds a BS in Psychology from UCLA where he was also the Head Team Manager for UCLA Track & Field. </p>
	
	<div style="clear: left; float: left; margin: 10px 10px 0 0">
	<%= link_to image_tag("david.jpg", alt: "David") %> </div>
	<p><b> <br><br>David Tung </b> has run Operations teams for Boston Scientific and Sadra Medical.  David holds a BS in Biomedical Engineering from UCSD and a MS in Product Design from Stanford University.</p>  

</html>


